@import "compass/css3";
@import "./reset.css";

body{
  font-family: 'Open Sans', sans-serif;
}
article.slide{
  width: 90%;
  // @include border-radius(10px);
  margin-top: 10px;
  // from http://uigradients.com/#
  background: #4CA1AF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  height: 600px;
}
hr{
  border: 0px;
  margin: 0px;
  border-top: 1px solid white;
}

.name{
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}

.infoCard{
 padding: 20px 10%; 
 text-align: center;
  .img {
    width: 200px;
    height: 200px;
    margin: 0px auto;
    background-size: cover;
    // @include border-radius(200px);
  }
  .line {

  }
  .field {
    padding-right: 30px;
    display: inline-block;
    margin: 5px 0;
    .paramName {
      // float: left;
      padding-right: 3px;
      color: grey;
    }
    .value {
      font-family: 'Arial';
      font-size: 20px;
      font-weight: 300;
    }
  }
  .description{
    margin-top: 20px;
    font-weight: 100;
    line-height: 1.25;
    max-height: 260px;
    overflow-y: auto;
  }
}

#slider {
  margin: 0 auto;
}

article .avatar img {
  max-height: 100px;
  width: auto !important;
}
// inspired  by https://codepen.io/christopherjanzen/pen/HcidC
// but we will generate element-specific CSS in JS code
// 
/* Slider Setup */

#slider input.slideSelection {
  display: none;
}
// need custom CSS
// #slide1:checked ~ #slides .inner { margin-left:0; }
// #slide2:checked ~ #slides .inner { margin-left:-100%; }
// #slide3:checked ~ #slides .inner { margin-left:-200%; }
// #slide4:checked ~ #slides .inner { margin-left:-300%; }
// #slide5:checked ~ #slides .inner { margin-left:-400%; }

// need custom CSS
// #slide1:checked ~ #controls label:nth-child(2), 
// #slide2:checked ~ #controls label:nth-child(3), 
// #slide3:checked ~ #controls label:nth-child(4), 
// #slide4:checked ~ #controls label:nth-child(5), 
// #slide5:checked ~ #controls label:nth-child(1) {
//   background: url(../assets/next.png) no-repeat;
//   float: right;
//   margin: 0 -70px 0 0;
//   display: block;
// }

// need custom CSS
// #slide1:checked ~ #controls label:nth-child(5),
// #slide2:checked ~ #controls label:nth-child(1),
// #slide3:checked ~ #controls label:nth-child(2),
// #slide4:checked ~ #controls label:nth-child(3),
// #slide5:checked ~ #controls label:nth-child(4) {
//   background: url(../assets/prev.png) no-repeat;
//   float: left;
//   margin: 0 0 0 -70px;
//   display: block;
// }

#overflow {
  width: 100%;
  overflow: hidden;
}

article img {
  width: 100%;
}
// need custom CSS
#slides .inner {
  width: 500%;
}

// need custom CSS
#slides article {
  width: 20%;
  float: left;
}

/* Slider Styling */

/* Control Setup */

#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#controls label { 
  width: 50px;
  height: 50px;
  opacity: 0.3;
  &:hover { opacity: 0.8; }
}

.hidden {
  display: none !important;
}


/* Animation */

#slides .inner {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#controls label{
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
// /* Info Box */

// .info {
//   line-height: 20px;
//   margin: 0 0 -150%;
//   position: absolute;
//   padding: 30px 30px;
//   opacity: 0;
//   text-align: left;
// }

// .info h3 {
//   margin: 0 0 5px;
//   font-size: 22px;
//   font-style: normal;
// }
// #slide1:checked ~ #slides article:nth-child(1) .info,
// #slide2:checked ~ #slides article:nth-child(2) .info,
// #slide3:checked ~ #slides article:nth-child(3) .info,
// #slide4:checked ~ #slides article:nth-child(4) .info,
// #slide5:checked ~ #slides article:nth-child(5) .info {
//   opacity: 1;
//   -webkit-transition: all 1s ease-out 0.6s;
//   -moz-transition: all 1s ease-out 0.6s;
//   -o-transition: all 1s ease-out 0.6s;
//   transition: all 1s ease-out 0.6s;
// }

// .info, #controls, #slides, #active, #active label, .info h3 {
//   -webkit-transform: translateZ(0);
//   -webkit-transition: all 0.5s ease-out;
//   -moz-transition: all 0.5s ease-out;
//   -o-transition: all 0.5s ease-out;
//   transition: all 0.5s ease-out;
// }

/* Responsive Styling */


@media only screen and (max-width: 850px) and (min-width: 450px) {

  #slider #controls {
    margin: -25% 0 0 15%;
    width: 70%;
    height: 50px;
  }

  #slider #controls label {
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

}

@media only screen and (max-width: 450px) {

  #slider #controls {
    margin: -28% 0 0 24%;
    width: 50%;
    height: 50px;
  }

  #slider #slides {
    padding: 1% 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  #slider #controls label {
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

}


@media only screen and (min-width: 850px) {

  body {
    padding: 0 80px;
  }
}